.container {
    max-width: 70rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
  }
  
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin-top: 10px;
  margin: 3rem 0 0;
}

.footerStyleNote {
  text-align: center;
  padding: 1px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
}

.footerStyle {
  background-color: #F8F8F8;
  border-top: 1px solid #E7E7E7;
  text-align: right;
  padding: 1px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
}

.phantomStyle {
  display: block;
  padding: 1px;
  height: 10px;
  width: 100%;
}
  